Repository OpenA3XX/opena3xx.configurator.admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, prettier --write

Fix empty lifecycle methods and unused variables - Add proper comments
  src/app/features/console/components/console/console-filters/console-filters.component.ts
  src/app/features/hardware/components/register-hardware-board/register-hardware-board.component.ts
  src/app/shared/components/forms/map-hardware-input-selectors-form/map-hardware-input-selectors-form.component.ts
  src/app/shared/components/ui/select/select.component.ts
Due: ng lint --fix

Fix directive selector and any type - Use opena3xx prefix and HTMLElement type
  src/app/shared/directives/click-outside.directive.ts
Due: ng lint --fix

Fix template method call - Remove unused event parameter from map hardware form
  src/app/shared/components/forms/map-hardware-input-selectors-form/map-hardware-input-selectors-form.component.html
Due: prettier --write

Fix navigation sidebar issues - Proper width control and closing behavior
  src/app/app.component.html
  src/app/app.component.scss
Due: prettier --write

Text Fields Fixes - Post Angular and Material Upgrades
  src/app/features/dashboard/components/dashboard/system-overview/system-overview.component.scss
  src/styles.scss
Due: prettier --write

Final changes for angular upgrade
  FLOATING_BACK_BUTTON_README.md
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.scss
  src/app/shared/components/ui/floating-back-button/floating-back-button.component.html
  src/app/shared/components/ui/floating-back-button/floating-back-button.component.scss
  src/app/shared/components/ui/floating-back-button/floating-back-button.component.spec.ts
  src/app/shared/components/ui/floating-back-button/floating-back-button.component.ts
  src/app/shared/shared.module.ts
  src/manifest.webmanifest
Due: ng lint --fix, prettier --write

Implemented Aircraft Model Management Module + Integration
  src/app/app-routing.module.ts
  src/app/features/aircraft-models/aircraft-models.module.ts
  src/app/features/aircraft-models/components/add-aircraft-model-dialog/add-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/add-aircraft-model-dialog/add-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/add-aircraft-model-dialog/add-aircraft-model-dialog.component.ts
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.html
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.scss
  src/app/features/aircraft-models/components/edit-aircraft-model-dialog/edit-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/edit-aircraft-model-dialog/edit-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/edit-aircraft-model-dialog/edit-aircraft-model-dialog.component.ts
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.html
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.scss
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.ts
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.html
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.scss
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.ts
  src/app/features/aircraft-models/components/view-aircraft-model-details/view-aircraft-model-details.component.html
  src/app/features/aircraft-models/components/view-aircraft-model-details/view-aircraft-model-details.component.scss
  src/app/features/aircraft-models/components/view-aircraft-model-details/view-aircraft-model-details.component.ts
  src/app/features/aircraft-models/components/view-aircraft-model-dialog/view-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/view-aircraft-model-dialog/view-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/view-aircraft-model-dialog/view-aircraft-model-dialog.component.ts
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.html
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.html
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.scss
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
  src/app/features/notifications/components/notification-center/notification-center.component.html
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.html
  src/styles.scss
Due: ng lint --fix, prettier --write

Added some UI/UX Concepts for Connectivity.
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/features/connectivity/components/configuration-validation/configuration-validation.component.html
  src/app/features/connectivity/components/configuration-validation/configuration-validation.component.scss
  src/app/features/connectivity/components/configuration-validation/configuration-validation.component.ts
  src/app/features/connectivity/components/connection-logs/connection-logs.component.html
  src/app/features/connectivity/components/connection-logs/connection-logs.component.scss
  src/app/features/connectivity/components/connection-logs/connection-logs.component.ts
  src/app/features/connectivity/components/connection-status-dashboard/connection-status-dashboard.component.html
  src/app/features/connectivity/components/connection-status-dashboard/connection-status-dashboard.component.scss
  src/app/features/connectivity/components/connection-status-dashboard/connection-status-dashboard.component.ts
  src/app/features/connectivity/components/connectivity/connectivity.component.html
  src/app/features/connectivity/components/connectivity/connectivity.component.scss
  src/app/features/connectivity/components/connectivity/connectivity.component.ts
  src/app/features/connectivity/components/diagnostic-tools/diagnostic-tools.component.html
  src/app/features/connectivity/components/diagnostic-tools/diagnostic-tools.component.scss
  src/app/features/connectivity/components/diagnostic-tools/diagnostic-tools.component.ts
  src/app/features/connectivity/components/hardware-panel-matrix/hardware-panel-matrix.component.html
  src/app/features/connectivity/components/hardware-panel-matrix/hardware-panel-matrix.component.scss
  src/app/features/connectivity/components/hardware-panel-matrix/hardware-panel-matrix.component.ts
  src/app/features/connectivity/components/network-topology-map/network-topology-map.component.html
  src/app/features/connectivity/components/network-topology-map/network-topology-map.component.scss
  src/app/features/connectivity/components/network-topology-map/network-topology-map.component.ts
  src/app/features/connectivity/components/system-health-overview/system-health-overview.component.html
  src/app/features/connectivity/components/system-health-overview/system-health-overview.component.scss
  src/app/features/connectivity/components/system-health-overview/system-health-overview.component.ts
  src/app/features/connectivity/connectivity.module.ts
Due: ng lint --fix, prettier --write

Upgrades ESLint and other dependencies.
  package-lock.json
  package.json
Due: prettier --write

Moving forms to the appropriate folder structure and import updates
  src/app/features/hardware/components/link-hardware-input-selectors-form/link-hardware-input-selectors-form.component.html
  src/app/features/hardware/components/link-hardware-input-selectors-form/link-hardware-input-selectors-form.component.scss
  src/app/features/hardware/components/link-hardware-input-selectors-form/link-hardware-input-selectors-form.component.ts
  src/app/features/hardware/components/map-hardware-input-selectors-form/map-hardware-input-selectors-form.component.html
  src/app/features/hardware/components/map-hardware-input-selectors-form/map-hardware-input-selectors-form.component.scss
  src/app/features/hardware/components/map-hardware-input-selectors-form/map-hardware-input-selectors-form.component.ts
  src/app/features/hardware/components/map-hardware-output-selectors-form/map-hardware-output-selectors-form.component.html
  src/app/features/hardware/components/map-hardware-output-selectors-form/map-hardware-output-selectors-form.component.scss
  src/app/features/hardware/components/map-hardware-output-selectors-form/map-hardware-output-selectors-form.component.ts
  src/app/features/hardware/hardware.module.ts
  src/app/shared/shared.module.ts
Due: ng lint --fix, prettier --write

Fixed Hardwaer Panel Details Table styling
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.ts
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.scss
  src/app/shared/components/ui/data-table/data-table.component.scss
Due: ng lint --fix, prettier --write

Implemented Dialog Wrapper for consistency
  src/app/app.component.html
  src/app/core/components/exit-app-dialog.component.html
  src/app/core/components/exit-app-dialog.component.scss
  src/app/core/components/exit-app-dialog.component.ts
  src/app/features/aircraft-models/components/view-aircraft-model-dialog/view-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/view-aircraft-model-dialog/view-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/view-aircraft-model-dialog/view-aircraft-model-dialog.component.ts
  src/app/features/hardware/components/delete-hardware-input-dialog/delete-hardware-input-dialog.component.html
  src/app/features/hardware/components/delete-hardware-input-dialog/delete-hardware-input-dialog.component.scss
  src/app/features/hardware/components/delete-hardware-input-dialog/delete-hardware-input-dialog.component.ts
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.html
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.scss
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.html
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.scss
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.html
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.scss
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.ts
  src/app/features/hardware/components/view-hardware-input-selectors-dialog/view-hardware-input-selectors-dialog.component.html
  src/app/features/hardware/components/view-hardware-input-selectors-dialog/view-hardware-input-selectors-dialog.component.scss
  src/app/features/hardware/components/view-hardware-input-selectors-dialog/view-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/view-hardware-output-selectors-dialog/view-hardware-output-selectors-dialog.component.html
  src/app/features/hardware/components/view-hardware-output-selectors-dialog/view-hardware-output-selectors-dialog.component.scss
  src/app/features/hardware/components/view-hardware-output-selectors-dialog/view-hardware-output-selectors-dialog.component.ts
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.scss
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.ts
  src/app/shared/components/ui/dialog-wrapper/README.md
  src/app/shared/components/ui/dialog-wrapper/dialog-wrapper.component.html
  src/app/shared/components/ui/dialog-wrapper/dialog-wrapper.component.scss
  src/app/shared/components/ui/dialog-wrapper/dialog-wrapper.component.spec.ts
  src/app/shared/components/ui/dialog-wrapper/dialog-wrapper.component.ts
  src/app/shared/components/ui/page-header/page-header.component.scss
  src/app/shared/shared.module.ts
Due: ng lint --fix, prettier --write

Implemented Delete Aircraft Model along with other dialog migrations
  src/app/features/aircraft-models/aircraft-models.module.ts
  src/app/features/aircraft-models/components/add-aircraft-model-dialog/add-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/add-aircraft-model-dialog/add-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/add-aircraft-model-dialog/add-aircraft-model-dialog.component.ts
  src/app/features/aircraft-models/components/delete-aircraft-model-dialog/delete-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/delete-aircraft-model-dialog/delete-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/delete-aircraft-model-dialog/delete-aircraft-model-dialog.component.ts
  src/app/features/aircraft-models/components/edit-aircraft-model-dialog/edit-aircraft-model-dialog.component.html
  src/app/features/aircraft-models/components/edit-aircraft-model-dialog/edit-aircraft-model-dialog.component.scss
  src/app/features/aircraft-models/components/edit-aircraft-model-dialog/edit-aircraft-model-dialog.component.ts
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.ts
  src/app/shared/components/ui/data-table/data-table.component.html
  src/app/shared/models/data-table.interface.ts
Due: ng lint --fix, prettier --write

Migration and minor new features
  src/app/app-routing.module.ts
  src/app/features/hardware/components/add-hardware-panel-dialog/add-hardware-panel-dialog.component.html
  src/app/features/hardware/components/add-hardware-panel-dialog/add-hardware-panel-dialog.component.scss
  src/app/features/hardware/components/add-hardware-panel-dialog/add-hardware-panel-dialog.component.ts
  src/app/features/hardware/components/add-hardware-panel/add-hardware-panel.component.scss
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.ts
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.scss
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.ts
  src/app/features/hardware/hardware.module.ts
  src/app/shared/components/ui/page-header/page-header.component.scss
Due: ng lint --fix, prettier --write

dark theme - status text fix
  src/app/app.component.scss
Due: prettier --write

Added sponsor
  .vscode/launch.json
  README.md
  angular.json
Due: prettier --write

Path conditions:
  ng lint --fix: any of: *.{ts,js}
  prettier --write: (any of: *.{html,scss,css}) or (any of: *.{json,md})
