Repository OpenA3XX/opena3xx.configurator.admin: changes, and which lint-staged commands are due for each by the changed paths.
All: ng lint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": [
    "ng lint --fix",
    "git add"
  ],
  "*.{html,scss,css}": [
    "prettier --write",
    "git add"
  ],
  "*.{json,md}": [
    "prettier --write",
    "git add"
  ]
}

Updates in general
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/core/services/dependency-status.service.ts
  src/app/features/hardware/components/manage-hardware-boards/manage-hardware-board.component.html
  src/app/features/hardware/components/manage-hardware-boards/manage-hardware-board.component.ts
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.html
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.ts
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.html
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.ts
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.ts
  src/app/features/hardware/components/register-hardware-board/register-hardware-board.component.html
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.scss
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.ts
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.html
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.ts
  src/app/shared/styles/README-image-dark-mode.md
  src/app/shared/styles/README-table-styles.md
  src/app/shared/styles/_component-mixins.scss
  src/app/shared/styles/table-hover.spec.scss
  src/styles.scss
Due: ng lint --fix, prettier --write

UI Updates
  src/app/app.component.scss
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.html
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.scss
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.html
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.scss
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.html
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.scss
  src/app/features/hardware/components/view-hardware-panel-details/view-hardware-panel-details.component.html
Due: prettier --write

Fixes with module loader
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/core/services/data.service.ts
  src/app/core/services/dependency-status.service.ts
  src/assets/config/app-config.json
Due: ng lint --fix, prettier --write

Dashboard Work
  src/app/features/dashboard/components/console/console-actions/console-actions.component.scss
  src/app/features/dashboard/components/console/console-charts/console-charts.component.scss
  src/app/features/dashboard/components/console/console-filters/console-filters.component.html
  src/app/features/dashboard/components/console/console-filters/console-filters.component.scss
  src/app/features/dashboard/components/console/console-filters/console-filters.component.ts
  src/app/features/dashboard/components/console/console-header/console-header.component.scss
  src/app/features/dashboard/components/console/console-statistics/console-statistics.component.html
  src/app/features/dashboard/components/console/console-statistics/console-statistics.component.scss
  src/app/features/dashboard/components/console/console-statistics/console-statistics.component.ts
  src/app/features/dashboard/components/console/console.component.html
  src/app/features/dashboard/components/console/console.component.scss
  src/app/features/dashboard/components/console/console.component.ts
  src/app/features/dashboard/components/dashboard/dashboard.component.html
  src/app/features/dashboard/components/dashboard/dashboard.component.scss
  src/app/features/dashboard/components/dashboard/dashboard.component.ts
Due: ng lint --fix, prettier --write

restructing and continuation of works for metrics in dashboard
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/core/services/data.service.ts
  src/app/features/dashboard/components/dashboard/dashboard.component.ts
  src/app/features/dashboard/dashboard.module.ts
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.ts
  src/app/features/hardware/services/hardware-panel.service.ts
  src/app/features/notifications/components/notification-center/notification-center.component.ts
  src/app/features/settings/components/settings/settings.component.html
  src/app/features/settings/components/settings/settings.component.scss
  src/app/features/settings/components/settings/settings.component.ts
  src/app/features/settings/services/settings.service.ts
  src/app/features/settings/settings.module.ts
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.ts
Due: ng lint --fix, prettier --write

Added Aircraft Models
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/features/aircraft-models/aircraft-models.module.ts
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.html
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.scss
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.ts
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.html
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.scss
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.ts
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.html
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.scss
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.ts
  src/app/features/aircraft-models/components/view-aircraft-model-details/view-aircraft-model-details.component.html
  src/app/features/aircraft-models/components/view-aircraft-model-details/view-aircraft-model-details.component.scss
  src/app/features/aircraft-models/components/view-aircraft-model-details/view-aircraft-model-details.component.ts
  src/app/features/aircraft-models/services/aircraft-model.service.ts
  src/app/shared/models/models.ts
Due: ng lint --fix, prettier --write

Styling consistency.
  src/app/app.component.html
  src/app/features/aircraft-models/components/manage-aircraft-models/manage-aircraft-models.component.scss
  src/app/features/hardware/components/manage-hardware-boards/manage-hardware-board.component.html
  src/app/features/hardware/components/manage-hardware-boards/manage-hardware-board.component.scss
  src/app/features/hardware/components/manage-hardware-boards/manage-hardware-board.component.ts
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.html
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.scss
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.ts
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.html
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.scss
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.ts
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.html
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.scss
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.html
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.scss
  src/app/features/simulator/components/manage-simulator-events/manage-simulator-events.component.ts
Due: ng lint --fix, prettier --write

Update ESLint packages to v18 for Angular 18 compatibility
  package-lock.json
  package.json
Due: prettier --write

Upgrade to Angular 18.2.13 - Core packages updated
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/core/interceptors/http.interceptor.spec.ts
  src/app/core/services/configuration.service.spec.ts
Due: ng lint --fix, prettier --write

Upgrade Angular Material and CDK to v18.2.14
  package-lock.json
  package.json
  src/styles.scss
Due: prettier --write

Upgrade Angular Material and CDK to v19.2.19
  package-lock.json
  package.json
  src/styles.scss
Due: prettier --write

Update Node.js version to 22.17.1 for Angular 20 compatibility
  .nvmrc
Due: none

Upgrade to Angular 20.1.3 - Core packages updated
  angular.json
  package-lock.json
  package.json
  src/app/app.component.ts
  tsconfig.json
Due: ng lint --fix, prettier --write

Upgrade Angular Material and CDK to v20.1.3 - Final upgrade complete
  package-lock.json
  package.json
Due: prettier --write

Fix Sass deprecation warnings - Update @import to @use syntax
  src/styles.scss
Due: prettier --write

Fix initial linting issues - Remove unused imports and fix lifecycle methods
  src/app/app-routing.module.ts
  src/app/core/services/configuration.service.ts
  src/app/core/services/theme.service.ts
  src/app/shared/components/ui/select/select.component.ts
Due: ng lint --fix

Fix more linting issues - Remove unused imports and variables
  src/app/core/services/data.service.ts
  src/app/core/services/dependency-status.service.ts
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.ts
  src/app/features/aircraft-models/components/edit-aircraft-model/edit-aircraft-model.component.ts
  src/app/features/console/components/console/console-charts/console-charts.component.ts
  src/app/features/console/components/console/console.component.ts
  src/app/features/notifications/services/notification.service.ts
  src/app/features/settings/components/settings/settings.component.ts
Due: ng lint --fix

Fix more linting issues - Replace any types with proper interfaces
  src/app/core/services/data.service.ts
  src/app/core/services/form-validation.service.ts
  src/app/core/services/performance.service.ts
Due: ng lint --fix

Fix dependency status service - Replace any types with proper interfaces
  src/app/core/services/dependency-status.service.ts
Due: ng lint --fix

Fix error handler service - Replace any types with proper interfaces
  src/app/core/services/error-handler.service.ts
Due: ng lint --fix

Fix more any types - Console charts, realtime service, HTTP interceptor, app initializer, and app component
  src/app/app.component.ts
  src/app/core/app-initializer.ts
  src/app/core/interceptors/http.interceptor.ts
  src/app/core/services/realtime.service.ts
  src/app/features/console/components/console/console-charts/console-charts.component.ts
Due: ng lint --fix

Fix more any types - Console filters and activity status components
  src/app/features/console/components/console/console-filters/console-filters.component.ts
  src/app/features/dashboard/components/dashboard/activity-status/activity-status.component.ts
Due: ng lint --fix

Fix TypeScript compilation errors - Realtime service and tsconfig
  src/app/core/services/realtime.service.ts
  tsconfig.json
Due: ng lint --fix, prettier --write

Fix console component any types - Add proper interfaces and type safety
  src/app/features/console/components/console/console.component.ts
Due: ng lint --fix

Fix dashboard service and component any types - Add proper interfaces
  src/app/features/dashboard/components/dashboard/dashboard.component.ts
  src/app/features/dashboard/services/dashboard.service.ts
Due: ng lint --fix

Fix hardware components any types - Add proper type safety
  src/app/features/dashboard/components/dashboard/system-overview/system-overview.component.ts
  src/app/features/hardware/components/edit-hardware-output-type/edit-hardware-output-type.component.ts
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.ts
Due: ng lint --fix

Fix hardware management components any types - Add proper type safety
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.ts
  src/app/features/hardware/components/manage-hardware-output-types/manage-hardware-output-types.component.ts
  src/app/features/hardware/components/manage-hardware-panels/manage-hardware-panels.component.ts
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.ts
Due: ng lint --fix

Fix unused variables and imports - Remove unused code
  src/app/core/services/form-validation.service.ts
  src/app/features/hardware/components/add-hardware-input-type/add-hardware-input-type.component.ts
  src/app/features/hardware/components/add-hardware-output-type/add-hardware-output-type.component.ts
  src/app/features/hardware/components/delete-hardware-input-dialog/delete-hardware-input-dialog.component.ts
  src/app/features/hardware/components/map-hardware-input-selectors-dialog/map-hardware-input-selectors-dialog.component.ts
  src/app/features/settings/components/settings/settings.component.ts
Due: ng lint --fix

Fix empty lifecycle methods and any types - Add proper comments and type safety
  src/app/features/aircraft-models/components/add-aircraft-model/add-aircraft-model.component.ts
  src/app/features/hardware/components/register-hardware-board/register-hardware-board.component.ts
  src/app/shared/components/ui/select/select.component.ts
Due: ng lint --fix

Fix hardware dialog components and service any types - Add proper interfaces
  src/app/features/hardware/components/view-hardware-input-selectors-dialog/view-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/view-hardware-output-selectors-dialog/view-hardware-output-selectors-dialog.component.ts
  src/app/features/hardware/services/hardware-board.service.ts
Due: ng lint --fix

Fix hardware input and output services any types - Add proper interfaces
  src/app/features/hardware/services/hardware-input.service.ts
  src/app/features/hardware/services/hardware-output.service.ts
Due: ng lint --fix

Remove unused imports - Clean up component imports
  src/app/features/hardware/components/add-hardware-input-type/add-hardware-input-type.component.ts
  src/app/features/hardware/components/add-hardware-output-type/add-hardware-output-type.component.ts
  src/app/features/settings/components/settings/settings.component.ts
Due: ng lint --fix

Fix TypeScript compilation errors - Revert to any types for complex dialog data structures
  src/app/features/hardware/components/link-hardware-input-selectors-dialog/link-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/manage-hardware-input-types/manage-hardware-input-types.component.ts
  src/app/features/hardware/components/map-hardware-output-selectors-dialog/map-hardware-output-selectors-dialog.component.ts
  src/app/features/hardware/components/view-hardware-input-selectors-dialog/view-hardware-input-selectors-dialog.component.ts
  src/app/features/hardware/components/view-hardware-output-selectors-dialog/view-hardware-output-selectors-dialog.component.ts
Due: ng lint --fix

Fix hardware panel service any types and remove unused imports - Add proper interfaces
  src/app/features/hardware/services/hardware-panel.service.ts
  src/app/shared/components/forms/link-hardware-input-selectors-form/link-hardware-input-selectors-form.component.ts
  src/app/shared/components/forms/map-hardware-input-selectors-form/map-hardware-input-selectors-form.component.ts
Due: ng lint --fix

Fix template method call - Remove unused event parameter
  src/app/shared/components/forms/link-hardware-input-selectors-form/link-hardware-input-selectors-form.component.html
Due: prettier --write
